<div class="modal" [ngStyle]="{'display':display}" *ngIf="mobilepopup">
  <div class="modal-dialog">
    <div class="modal-content" style="width:51% !important">
    
      <div class="modal-header">
        <h4 class="modal-title">Sign in with Mobile</h4>
        <button type="button" class="close" (click)="closeModalDialog()" >&times;</button>
      </div>
      
      <div class="modal-body" >
        <label for="mobile"><b>Mobile Number</b></label>
  <input type="text" placeholder="Enter Mobile Number" #mobile  required>
      </div>
      
      <div class="modal-footer">
          <button type="button"  class="btn btn-success" (click)="otpLogin(mobile.value)" >Continue</button>
        <button type="button" class="btn btn-danger" (click)="closeModalDialog()" >Cancel</button>
      </div>
    </div>
  </div>
</div>


<div class="modal" [ngStyle]="{'display':display}" *ngIf="isOTP" >
    <div class="modal-dialog">
      <div class="modal-content" style="width:51% !important">
      
        <div class="modal-header">
          <h4 class="modal-title">Sign in with Mobile</h4>
          <button type="button" class="close" (click)="closeModalDialog()" >&times;</button>
        </div>
        
        <div class="modal-body" >
          <label for="mobile"><b>OTP</b></label>
    <input type="text" placeholder="Enter OTP" #otp  required>
        </div>
        <b *ngIf="otpmsgStatus" style="color:red;margin-left: 6vw;">{{otpmsg}}</b>
        
        <div class="modal-footer">
            <button type="button"  class="btn btn-success"  (click)="verifyOTP(otp.value)" >Sign in</button>
          <button type="button" class="btn btn-danger" (click)="closeModalDialog()" >Cancel</button>
        </div>
      </div>
    </div>
  </div>

<div class="backdrop" [ngStyle]="{'display':display}" *ngIf="showpopup()"></div>
<div class="modal" [ngStyle]="{'display':display}" *ngIf="showpopup()" >
  <div class="modal-content">
    <div class="modal-header">
        <h6>Incorrect Mobile number or Password</h6>
      <span class="close" (click)="closeModalDialog()">&times;</span>
      
    </div>
  </div>
</div>


<form>
  <div class="mb-4">
    <mat-form-field class="w-100">
      <input matInput type="text" #mobile placeholder="Mobile Number" required>
    </mat-form-field>
  </div>
  <div class="mb-4">
    <mat-form-field class="w-100">
      <input matInput type="password" #password placeholder="Password" required>
    </mat-form-field>
  </div>
  <div class="mb-3">
    <mat-checkbox>Remember Me</mat-checkbox>
    <span fxFlex></span> <a [routerLink]="['/session/forgot-password']">Forgot Password?</a>
  </div>
  <button color="accent" class="button-lg mb-3" mat-raised-button (click)="login(mobile.value,password.value)">Sign In</button>
  &nbsp;
  <button color="accent" class="button-lg mb-3" mat-raised-button (click)="otpbutton()">Sign In with mobile</button>
  <p>Don't have an account? <a [routerLink]="['/session/signup']">Click here to create one</a></p>
</form>