<div class="section-gap" >
  <div class="container">
    <div fxLayoutAlign="space-between" class="w-100 ">
      <div class="block-title">
        <h3>Popular Packages</h3>
      </div>
      <a [routerLink]="['/products']">View All</a>
    </div>
    <div fxLayout="row wrap" class="col-gap">
      <ng-container *ngFor="let package of packages">
      <div >
        <mat-card class="box-shadow-md p-4">
          
            <img src="/assets/images/package/logo.jpg" width="170px" height="150px" alt="Photo">
        
          <mat-card-content class="pt-3">
            <h5>{{package.packageName}}</h5>
            <div fxLayoutAlign="space-between">
              <p class="accent-color">₹ {{package.price}}</p>
            </div>
            <button  mat-raised-button class="button-grey" >Buy</button>
          </mat-card-content>
        </mat-card>
      </div>
      </ng-container>
    </div>
    <a *ngIf="(gridLength < 12)" class="btn btn-block transparent-btn" (click)="extendGridStructure(true)">Show All</a>
    <a *ngIf="(gridLength != 4)" class="btn btn-block transparent-btn" (click)="extendGridStructure(false)">Less</a>
  </div>
</div>
